In [234]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from anyio.abc import value
from nltk.metrics.aline import similarity_matrix
from pandas import value_counts
from win32evtlogutil import langid

#### 데이터 전처리
- kaggle dataset

In [235]:
book_df=pd.read_csv('book_review_data.csv')

In [236]:
# 1) 필요한 컬럼 도출
# 2) 형변환 (float > int)

book_df=book_df[['user_id',"age","rating","book_title",'book_author','year_of_publication','img_m','Summary','Category','country','Language']]
book_df[['age',"year_of_publication"]]=book_df[['age',"year_of_publication"]].astype(int)

In [237]:
# 최소 평가 개수 ( 평가가 30개보다 많은 책만 추출 )
counts=book_df['book_title'].value_counts()
title = counts[counts > 30].index
book_filter_df=book_df[book_df['book_title'].isin(title)]

In [238]:
# 최소 평가 개수 ( 평가가 20개보다 많은 사용자만 추출 )
counts=book_filter_df["user_id"].value_counts()
user_id_=counts[counts>10].index
book_filter_df = book_filter_df[book_filter_df['user_id'].isin(user_id_)]

In [239]:
# 무의미한 0점 평가 제거
rating_zero=book_filter_df[book_filter_df['rating']==0].index
book_filter_df.drop(rating_zero, axis=0, inplace=True)

In [240]:
# 한 카테고리안에 책이 5권 미만인 경우 제거
counts=book_filter_df["Category"].value_counts()
450categories = counts[counts > 5].index
book_filter_df = book_filter_df[book_filter_df['Category'].isin(categories)]

idx=book_filter_df[book_filter_df["Summary"]=='9'].index
book_filter_df.drop(idx,axis=0,inplace=True)

book_filter_df["book_title"]=book_filter_df['book_title'].str.lower()
book_filter_df["Summary"]=book_filter_df["Summary"].str.lower()

In [241]:
book_filter_df.shape
len(book_filter_df['book_title'].unique())

3450

#### user_book_rating dataframe

In [242]:
user_book_df=book_filter_df.pivot_table(index='user_id',columns='book_title',values='rating',fill_value=0)
book_user_df=user_book_df.T
user_book_df.shape # user간 유사도 구할거 아니니까

(4836, 3450)

In [243]:
user_book_df.iloc[55].sort_values(ascending=False)[:10]

book_title
thinner                                                                     8.0
christine                                                                   8.0
stupid white men ...and other sorry excuses for the state of the nation!    6.0
cujo                                                                        6.0
'salem's lot                                                                0.0
sweet hereafter movie tie-in : a novel                                      0.0
sunset in st. tropez                                                        0.0
superfudge (yearling books (paperback))                                     0.0
superstitious                                                               0.0
surfacing                                                                   0.0
Name: 4334, dtype: float64

#### age_title_count dataframe

In [244]:
book_filter_df["age"].value_counts()

age
34    16829
33     1882
29     1708
28     1689
32     1585
      ...
76        6
11        5
84        5
10        3
97        2
Name: count, Length: 78, dtype: int64

In [245]:
def make_ages(age):
    if 10<=age<20:
        return 10
    elif 20<=age<30:
        return 20
    elif 30<=age<40:
        return 30
    elif 40<=age<50:
        return 40
    elif 50<=age<60:
        return 50
    elif 60<=age<70:
        return 60
    else:
        return 70

In [246]:
book_filter_df['ages'] = book_filter_df['age'].apply(make_ages)

In [248]:
ages_book_=book_filter_df.groupby(['ages','book_title']).size().reset_index(name='count')

In [249]:
ages_book_df=ages_book_.pivot_table(index='ages',columns='book_title',values='count',fill_value=0)
book_ages_df=ages_book_df.T
book_ages_df[:100]

ages                                       10    20    30   40   50   60   70
book_title
'salem's lot                              0.0   0.0   4.0  1.0  0.0  0.0  0.0
10 lb. penalty                            0.0   1.0   5.0  4.0  1.0  1.0  1.0
101 dalmatians                            0.0   2.0   0.0  1.0  0.0  0.0  0.0
16 lighthouse road                        1.0   1.0   6.0  3.0  2.0  0.0  0.0
1984                                      3.0  26.0  18.0  8.0  1.0  0.0  0.0
...                                       ...   ...   ...  ...  ...  ...  ...
a stitch in time (needlecraft mysteries)  0.0   1.0   4.0  1.0  3.0  0.0  0.0
a streetcar named desire                  1.0   7.0   3.0  0.0  1.0  0.0  0.0
a sudden change of heart                  0.0   1.0   5.0  1.0  0.0  0.0  0.0
a suitable vengeance                      0.0   0.0   4.0  1.0  2.0  0.0  0.0
a superior death                          0.0   0.0   4.0  1.0  3.0  0.0  0.0

[100 rows x 7 columns]

In [250]:
from sklearn.metrics.pairwise import cosine_similarity
ages_similarity=cosine_similarity(book_ages_df,book_ages_df)
ages_similarity_df=pd.DataFrame(ages_similarity,index=ages_book_df.columns, columns=ages_book_df.columns)

In [251]:
ages_similarity_df.shape

(3450, 3450)

#### user별 안 읽은 책 추천

In [252]:
def get_unseen_books(user_idx):
    user_read_df=user_book_df.iloc[user_idx,:]
    return user_read_df[user_read_df==0].index

In [253]:
def ages_popular_book(user_idx):
    user_ages=book_filter_df.iloc[user_idx]["ages"]
ages_popular_book(176)